table {
  width: 700px;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  font-weight: 800;
  border: 1px solid #ddd;
  cursor: default;
  table-layout: fixed;
}
.day {
  height: 50px;
  text-align: center;
}

.sunday {
  color:red;
}
tr{
  height: 100px;
  /* background-color: yellow; */
  text-align: center;
}
.themonth {
  font-size: 30px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

#calendarTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#calendarNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
}



#calendarBody {
  display: flex;
  justify-content: center;
  align-items: center;
}




.smallButton {
  width: 25px;
  height: 25px;
  font-size: 10px;
  margin: 30px;
}


.user-component {
  padding: 20px 10px;
  flex-direction: column;
}


.user-component__profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.user-name {
  margin-bottom: 20px;
}

#profile-img {
  margin-right: 40px;
}

.profile-goal-list {
  list-style: none;
}